{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="title" content="运维平台">
        <meta name="description" content="运维平台">
        <meta name="keywords" content="运维,监控,数据">
        <title>找回密码 - 数据库查询平台</title>

        <link href="{% static 'css/bootstrap-combined.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/login.css' %}" rel="stylesheet">
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}" ></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}" ></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}" ></script>
    </head>

    <body>
        <div class="center-container">
            <div class="center-block">
                <h1>找回密码</h1>
                <br>
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        用户名输入错误
                    </div>
                {% else %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        填写用户名，提交后会发送邮件到邮箱
                    </div>
                {% endif %}
                <form id="password_reset" onkeydown="if(event.keyCode==13){return false;}" action="" method="POST" class="form-horizontal">{% csrf_token %}
                    {% for field in form %}
                    <div class="control-group{% if field.errors %} error{% endif %}">
                        <div class="col-xs-12">
                            {{ field }}
                        </div>
                    </div>
                    {% endfor %}

                    <div class="form-group">
                        <div class="col-xs-12">
                            <button id="pwd-btn" type="button" class="btn btn-primary btn-lg btn-block">提交</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

<script>
$(function () {
    $("#pwd-btn").click(function(e){
        e.preventDefault();
        $.ajax({
            url: '{% url 'user_password_reset' %}',
            type: "POST",
            data: $("#password_reset").serialize(),
            success: function(data){
                console.log(data);
                if (data.success){
                    alert("操作成功! 将会发送邮件到邮箱");
                }else{
                    alert("操作失败! "+ data['msg']);
                }
            }
        });
    });

});
</script>
    </body>
</html>
